@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
/* '*' Gælder alle tags i HTMl */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: #373c49;*/
}

li, a{
    font-family:"Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #156678;
    text-decoration: none;
    font-weight: bolder;
}

th{
    font-family:"Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #156678;
    border-bottom: 5px solid #156678;
    padding: 0.75%;
}

td{
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
    padding: 0.75%;
    border-bottom: 3px solid #156678;
}

table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#userSessions{
    margin-left: 10%;
    margin-right: 10%;
}

a:hover{
    color: #ea9987;
    transition: all 0.3s ease 0s;
}

/* Nødvendigt at bestemme html body maks højde for at baggrundsbilledet ikke gentager sig selv*/
html, body{
    min-height: 100%;
}

body{
    background-image: radial-gradient(circle, rgba(255,237,242,.7) 0%, rgba(121,168,179,.7) 87%),url("../pictures/forsidefarum.jpg");
    margin:0;
    padding:0;
    background-size: cover;
    background-position: center;

}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

#nyForm, title{
    color: #edf0f1;
}

#logo{
    width: 12%;
    height: 12%;
    cursor: pointer;
    /*margin-right: auto;*/
    box-shadow:
    0px 20px 20px rgba(0, 0, 0, .25),
    0px 5px 10px  rgba(0, 0, 0, .25);
}

input, textarea {
    background-color : #d1d1d1;
}

.navbar{
    list-style: none;
}

.navbar li{
    display: inline-block;
    padding:0px 20px;
}

.navbar li :hover{
    color: #ea9987;
    transition: all 0.3s ease 0s;
}

/* login knap style*/
button{
    padding: 9px 25px;
    background-color: #ea9987;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    /*hover farve tranistion*/
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat';
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

button:hover{
    background-color: #1f93ad;
}

/* -------Registerform styling*/
#form-container{
    max-width: 550px;
    margin: -.999rem auto;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background: radial-gradient(circle, rgba(78,135,148,1) 0%, rgba(21,102,120,1) 87%);
    border-radius: 15px;
}

#newUserName{
    display: block;
    width: 85%;
    padding: .5rem .5rem .5rem;
    border-radius: 50px;
    font-family: Montserrat;
    border: 0;
    background: linear-gradient(0deg, rgba(233,248,251,1) 0%, rgba(196,214,218,1) 100%);
    margin: auto;
}

#newLastName{
    display: block;
    width: 85%;
    padding: .5rem .5rem .5rem;
    border-radius: 50px;
    font-family: Montserrat;
    border: 0;
    background: linear-gradient(0deg, rgba(233,248,251,1) 0%, rgba(196,214,218,1) 100%);
    margin: auto;
}

#newFirstName{
    display: block;
    width: 85%;
    padding: .5rem .5rem .5rem;
    border-radius: 50px;
    font-family: Montserrat;
    background: linear-gradient(0deg, rgba(233,248,251,1) 0%, rgba(196,214,218,1) 100%);
    border: 0;
    margin: auto;
}

#newPassword{
    display: block;
    width: 85%;
    padding: .5rem .5rem .5rem;
    border-radius: 50px;
    font-family: Montserrat;
    border: 0;
    background: linear-gradient(0deg, rgba(233,248,251,1) 0%, rgba(196,214,218,1) 100%);
    margin: auto;
}

#newUserButton{
    padding: 9px 25px;
    background-color: #ea9987;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    /*hover farve tranistion*/
    transition: all 0.3s ease 0s;
    margin: 1rem 0 0;
    justify-content: center;
    align-items: center;
}

#newUserButton:hover{
    background-color: #1f93ad;
}

h4{
    color: #ea9987;
}

h2{
    color: #ea9987;
}


