@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
/* '*' Gælder alle tags i HTMl */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: #373c49;*/
}

li, a{
    font-family:"Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #156678;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    color: #ea9987;
    transition: all 0.3s ease 0s;
}

/* Nødvendigt at bestemme html body maks højde for at baggrundsbilledet ikke gentager sig selv*/
html, body{
    min-height: 100%;
}

body{
    background-image: radial-gradient(circle, rgba(255,237,242,.7) 0%, rgba(121,168,179,.7) 87%),url("pictures/forsidefarum.jpg");
    margin:0;
    padding:0;
    background-size: cover;
    background-position: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

#nyForm, title{
    color: #edf0f1;
}

#logo{
    width: 12%;
    height: 12%;
    cursor: pointer;
    /*margin-right: auto;*/
    box-shadow:
            0px 20px 20px rgba(0, 0, 0, .25),
            0px 5px 10px  rgba(0, 0, 0, .25);
}

input, textarea {
    background-color : #d1d1d1;
}

.navbar{
    list-style: none;
}

.navbar li{
    display: inline-block;
    padding:0px 20px;
}

.navbar li :hover{
    color: #ea9987;
    transition: all 0.3s ease 0s;
}

/* login knap style*/
button{
    padding: 9px 25px;
    background-color: #ea9987;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    /*hover farve tranistion*/
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat';
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    outline: 0;
}

button:hover{
    background-color: #1f93ad;
}

#welcomeBox{
    max-width: 800px;
    margin: -.999rem auto;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background: radial-gradient(circle, rgba(78,135,148,1) 0%, rgba(21,102,120,1) 87%);
    border-radius: 15px;
}

p{
    color: #edf0f1;
    font-weight: lighter;
}

h2{
    color: #ea9987;
}




