body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("pictures/forsidefarum.jpg");
    margin:0;
    padding:0;
    background-size: cover;
    background-position: center;
    font-family: Helvetica;
}
.login-page{
    width: 360px;
    padding: 3% 0 0;
    margin: auto;

}
.form {
    position: relative;
    z-index: 1;
    background; #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 0px;
    text-align: center;
}
.form input{
    font-family: Helvetica;
    outline: 1;
    background: f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    font-family: "Helvetica";
    text-transform: uppercase;
    outline: 0;
    background: #156678;
    width: 100%;
    border: 0;
    padding: 5%;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover,.form button:active {
    background: #1f93ad;
}
.form .message {
    margin: 15px 0 0;
    color:aliceblue;
    font-size: 15px;
}
.form .message a{
    color: #3498DB;
}
.form .register-form{
    display: none;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
