<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login form</title>
    <link rel="stylesheet" href="style.css">
<body>
<div class="register-box">
    <h1>Register</h1>
    <div class="textbox">
        <input type="text" placeholder="Username" name="" value="">
    </div>

    <div class="textbox">
        <input type="password" placeholder="Password" name="" value="">
    </div>
    <input class="btn" type="button" name="" value="Register">

    <h2>Register</h2>

    <div class="textbox">
        <input type="text" placeholder="Username" name="" value="">
    </div>

    <div class="textbox">
        <input type="password" placeholder="Password" name="" value="">
    </div>
    <input class="btn" type="button" name="" value="Sign in">
</div>
</body>
</html>







/*NAVIGATIONSBAR
// logind
//register

//lav en ny register .ejs side
//+ den skal have en fullname, username, password, email
//++++ Der er tale om en POST request her

//Lav en ny .ejs med login
//+ den skal have en form
//++++ en form skal have username og password
//++++ der er tale om en GET request her

//index.js (under routes) der skaber vi routeren til EJS. Herefter så laver vi en ny controller,*/
