<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
</head>
<body>
<img src="../pictures/logo1.png" alt="logo" display= "block" ; width="20%" ; height="40%" ; class="center" ; id="logo" ;>
<div class="login-page">
    <!-- Login funktion  -->
    <form class="form">
        <input id= "" type="text" placeholder="Username"/>
        <input id="" type="Password" placeholder="Password"/>
        <li><a href="mainPage">Log ind</a></li>
        <!-- Funktion som udløser button funktion med 'enter' key -->
    </form>
</div>
</body>
</html>
