<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"  href="../CSS/adminIndex.css">
    <meta charset="UTF-8">
    <title>Opret ny bruger</title>
</head>
<body>
<header>
    <img class="logo" src="../pictures/logo1.png" alt="logo" id="logo">
    <nav>
        <ul class="navbar">
            <li><a href="adminHjem.html">Hjem</a></li>
            <li><a href="opretSession.html">Opret session</a> </li>
            <li><a href="administrerBrugere.html">Brugere</a> </li>
            <li><a href="#">Faciliteter</a> </li>
            <li><a href="#">Min profil</a> </li>
            <li><a href="#">Om os</a> </li>
        </ul>
    </nav>
    <a class="logout" href="mainPage"><button>Log ud</button></a>
</header>





</body>
</html>