<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"  href="../../Public/CSS/adminIndex.css">
    <script src="../../Public/JavaScript/Classes/Tools.js" ></script>
    <script src="../../Public/JavaScript/Classes/Session.js" ></script>
    <script src="../../Public/JavaScript/Classes/User.js" ></script>
    <meta charset="UTF-8">
    <title>Mine sessioner</title>
</head>
<body>
<header>
    <img class="logo" src="../../Public/pictures/logo1.png" alt="logo" id="logo">
    <nav>
        <ul class="navbar">
            <li><a href="studentHjem.ejs">Hjem</a></li>
            <li><a href="mineSessionsStudent.ejs">Mine sessioner</a> </li>
            <li><a href="#">Faciliteter</a> </li>
            <li><a href="#">Min profil</a> </li>
            <li><a href="#">Om os</a> </li>
        </ul>
    </nav>
    <a class="logout" href="mainpage.ejs"><button onclick="Tools.logOut()">Log ud</button></a>
</header>

<div id="userSessions"> </div>

<script>
    document.querySelector("#userSessions")
        .appendChild(Tools.checkSessions());
</script>

</body>
</html>